.reportCard {
   width: 100%;
   flex-shrink: 0 !important;
   color: var(--primary) !important;
   background-color: #fff !important;
   border: none !important;
   border-radius: 12px !important;
}

.reportCard__icon {
   font-size: 50px !important;
   margin-top: 10px !important;
   margin-bottom: 10px !important;
}

.reportCard__data {
   font-size: 42px;
   letter-spacing: 1px;
}
